/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */




div {
    flex-basis: 300px;
}

ul {
    list-style: none;
    margin: 40px;
}

li {
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 50px;
}